.page{width: 100%;height:fit-content;border:1px solid red;}
nav ul li{display:inline;}
#page1{background:grey}
#page2{background:grey}
#page3{background:grey}

/*CSS for responsive menu*/
#hamIcon{display:none;}
@media (max-width:800px)
{
/*make a menu items vertical*/
nav ul li{display:block;}
/* unhide menu icon */
#hamIcon{display:block;}
/*hide the menu item list*/
nav ul{display:none;}
}
/*to unhide menu items*/
.menuShow{display:block;}

body
{
    background-image: url('Images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header h1, header p, footer
{
    text-align: center;
    color: white;
}
nav, h2, p
{
    text-align: center;
}

#Mythology
{
    background-color: #F2E6D5;
}

#Before-the-Iron-Age
{
     background-color: silver;
}

#Iron-Age
{
    background-color: gold;
}

#Medieval-period
{
    background-color: ivory;
}

#Industrial-era
{   
    background-color: whitesmoke;
}

#Modern
{
    background-color: lightsalmon;
}

section div /*For the mini pages, Mythology for example.*/
{
    margin: 0 auto;
    align-items: center;
    width: 90%;
}

p
{
    padding: 0 10px 10px 10px;
}

.Weapons
{
    display:flex;
}

.Weapons img
{
    flex: 1 1 auto;
}

.Weapons p
{
    min-width: 20%;
}

#Broadsword
{
    
}

/*
For the page sliding in from above and sliding out from below
Does not work most likely due to display:none and display:block
*/
/* .page 
{
    transition:transform 0.2s ease-out;W
    transform:translateY(100%);
} */